body {
  font-family: Arial, sans-serif;
  background: #980909;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #d9d9d9;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 350px;
}

.login-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  background-color: #2e9300;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #267a00;
}
